* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
body {
    background-color: #fafcfd;
}

/* Title Display on Web */
h1 {
    background-color: white;
    color: #f182d0;
    padding: 2rem;
    margin : 0 2rem;
    border-radius: 0.4em;
    text-align: center;
    font-family: Tahoma, sans-serif;
    box-shadow: #aab4bd 0px 0px 30px 0px;
}

/* 3*3 Grid */
#square-1,
#square-2,
#square-3,
#square-4,
#square-5,
#square-6,
#square-7,
#square-8,
#square-9 {
    width: 14vw;
    height: 12vh;
    margin: 1rem 1rem;
    border: 0 solid white;
    border-radius: 6px;
    font-size: 4rem;
    text-align: center;
    background-color: white;
    box-shadow: #aab4bd 0px 0px 20px 0px;
}

/* Board Game Container */
#tic-tac-toe {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

/* Reset Button */
#reset-button {
    box-sizing: border-box;
    width: 20vw;
    height: 7vh;
    border: 1px solid #f182d0;
    box-shadow: #aab4bd 0px 0px 20px 0px;
    margin: auto;
    border-radius: 8px;
    font-family: Verdana,
        Geneva, Tahoma, sans-serif;;
    background-color: #f182d0;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;
}


/* Player turn space */
/* Game Instruction Text */
#game-info, #ins {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f182d0;
}

/* Main container */
#main {
    text-align: center;
}

footer {
    padding-top: 5%;
}

.copyright {
    color: white;
    text-align: center;
}